/* h1 {
    border: 2px solid black;
    width: 50%;
}

#outer {
    height: 500px;
    width: 500px;
    background-color: aquamarine;
    margin: 50px;
}

#inner {
    height: 200px;
    width: 200px;
    background-color: burlywood;
    margin-left: 10%;
} */




/* em relative unit */
#outer {
    height: 400px;
    width: 400px;
    border: 2px solid black;
    background-color: aquamarine;
    font-size: 10px;
}

#inner {
    height: 100px;
    width: 100px;
    background-color: darkkhaki;
    font-size: 3em;
    padding: 1em;
}

button {
    font-size: 50px;
    border-radius: 15px;
    border: 5px solid green;
    padding: 0em 1em 0em;
}


/* drawback of em -> snowball effect */
section {
    font-size: 15px;
}
div {
    font-size: 2em;

    /* for reverse  */
    font-size: 0.5em;
}


/* to avoid snowball effect  */
div {
    font-size: 0.5rem;
}
