h1 {
    color: maroon;
}

.post {
    background-color: blanchedalmond;
}

.user {
    font-style: italic;
}


textarea {
  width: 100%;
  max-width: 500px;
  height: 120px;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

a {
    text-decoration: none;
}

.deletePost {
    display: inline;
}

.deleteButton {
    border: none;
    background-color: transparent;
    color: rgb(56, 56, 227);
}